{% extends 'base.html.twig' %}

{% block body %}
	{# LOADING PAGE #}
	{% include "components/loading_page.html.twig" %}
	{# HOMEPAGE #}
	<div class="homepage">
		{# MENU BURGER BTN #}
		<div class="menu-burger-btn sound">
			<i class="fa-solid fa-bars"></i>
			<i class="fa-solid fa-xmark"></i>
		</div>
		{# RESPONSIVE THEME TOGGLE #}
		<div class="responsive-theme-toggle">
			{% include "components/theme_toggle.html.twig" %}
		</div>
		{# NAVBAR #}
		{% include "components/navbar.html.twig" %}
		{# HEADER #}
		<header id="home">
			<div class="header-content fade-out-element">
				<h1>Bienvenue, moi c'est <strong>Valentin Tainon</strong></h1>
				<h2>Je suis <strong>Développeur Web</strong> Junior</h2>
			</div>
		</header>
		<div class="section-border"></div>
		{# ABOUT #}
		<section id="about">
			<h2 class="title-section fade-out-element">À propos de moi</h2>
			<div class="about-content fade-out-element about">
				<div class="text-content">
					<p>
						<i class="fa-solid fa-quote-left"></i> 
						Après dix ans de travail en tant que mécanicien aéronautique au sein d'Airbus,
						j'ai effectué une formation de Concepteur Développeur d'Applications.
					</p>
					<p>
						Ce parcours atypique m'a permis de 'digitaliser' mes compétences de constructeur 
						et de les mettre au service de la création d'application web.
					</p>
					<p>
						Passionné de hardware et d'informatique de manière générale, j'ai 
						développé une curiosité qui me pousse à apprendre en permanence.
					</p>
					<p>
						Bien que j'en sois à mes débuts, j'ai la volonté de monter rapidement 
						en compétences et de proposer des projets toujours plus travaillés.
					</p>
					<p>
						Si vous souhaitez voir le code de mes projets, vous pouvez vous rendre 
						sur mon profil Github. 
						<i class="fa-solid fa-quote-right"></i>
					</p>
				</div>
				<a class="btn sound" href="{{ asset('document/cv.pdf') }}" target="_blank">Téléchargez mon CV</a>
			</div>
		</section>
		<div class="section-border"></div>
		{# PROJECTS #}
		<section id="projects">
			<div class="projects-content">
				<h2 class="title-section fade-out-element">Mes réalisations</h2>
				<div class="rows-container">
					{% for project in projects %}
						<div class="row fade-out-element project">
							<div class="left">
								<h3>{{ project.name }}</h3>
								<div class="bottom-content">
									<div class="logos-container">
										{% for tool in project.tools %}
											<div class="logo-box">
												<img class="logo" src="{{ vich_uploader_asset(tool, 'logoFile') }}" alt="{{ tool.logoAlt }}" loading="lazy">
												<h4>{{ tool.name }}</h4>
											</div>
										{% endfor %}
									</div>
									<div class="description">
										{{ project.description|raw }}
									</div>
								</div>
							</div>
							<div class="right">
								<img src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="{{ project.imgAlt }}" loading="lazy">
								<a class="btn" href="{{ project.link }}" target="_blank">Visitez le site</a>
							</div>
						</div>
						<div class="row-responsive fade-out-element project">
							<h3>{{ project.name }}<span class="row-pointer">&nbsp;<i class="fa-solid fa-hand-pointer"></i></span></h3>
							<div class="up">
								<div class="logos-container">
									{% for tool in project.tools %}
										<div class="logo-box">
											<img class="logo" src="{{ vich_uploader_asset(tool, 'logoFile') }}" alt="{{ tool.logoAlt }}" loading="lazy">
											<h4>{{ tool.name }}</h4>
										</div>
									{% endfor %}
								</div>
								<div class="description">
									{{ project.description|raw }}
								</div>
							</div>
							<div class="down">
								<img src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="{{ project.imgAlt }}" loading="lazy">
								<a class="btn" href="{{ project.link }}" target="_blank">Visitez le site</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<div class="section-border"></div>
		{# CONTACT #}
		<section id="contact">
			<h2 class="title-section fade-out-element">Contactez-moi</h2>
			<div class="contact-content fade-out-element">
				{% include "components/contact_form.html.twig" %}
			</div>
		</section>
	</div>
{% endblock %}
