{% extends 'base.html.twig' %}

{% block body %}
	{# LOADING PAGE #}
	{% include "components/loading_page.html.twig" %}
	{# HOMEPAGE #}
	<div class="homepage">
		{# NAVBAR #}
		{% include "components/navbar.html.twig" %}
		{# HEADER #}
		<header id="home">
			<div class="header-content">
				<h1>Bienvenue, moi c'est <strong>Valentin Tainon</strong></h1>
				<h2>Je suis <strong>Développeur Web</strong> Junior</h2>
			</div>
		</header>
		{# ABOUT #}
		<section id="about">
			<div class="about-content">
				<h2 class="title-section">À propos de moi</h2>
				<div class="text-content">
					<p>
						<i class="fa-solid fa-quote-left"></i> 
						Après dix ans de travail en tant que mécanicien aéronautique au sein d'Airbus,
						j'ai effectué une formation de Concepteur Développeur d'Applications.
					</p>
					<p>
						Ce parcours atypique m'a permis de 'digitaliser' mes compétences de constructeur 
						et de les mettre au service de la création d'application web.
					</p>
					<p>
						Passionné de hardware et d'informatique de manière générale, j'ai 
						développé une curiosité qui me pousse à apprendre en permanence.
					</p>
		
					<p>
						Bien que j'en sois à mes balbutiements, j'ai la volonté de monter rapidement 
						en compétences et de proposer des projets toujours plus perfectionnés. 
						<i class="fa-solid fa-quote-right"></i>
					</p>
				</div>
				<a class="btn sound" href="{{ asset('document/cv.pdf') }}">Téléchargez mon CV</a>
			</div>
		</section>
		{# PROJECTS #}
		<section id="projects">
			<div class="projects-content">
				<h2 class="title-section">Mes réalisations</h2>
				<div class="rows-container">
					{% for project in projects %}
						<div class="row">
							<div class="left">
								<h3>{{ project.name }}</h3>
								<div class="bottom-content">
									<div class="logos-container">
										{% for tool in project.tools %}
											<div class="logo-box">
												<img class="logo" src="{{ vich_uploader_asset(tool, 'logoFile') }}" alt="{{ tool.logoAlt }}">
												<h4>{{ tool.name }}</4>
											</div>
										{% endfor %}
									</div>
									<div class="description">
										<p>{{ project.description }}</p>
									</div>
								</div>
							</div>
							<div class="right">
								<a href="{{ project.link }}" target="_blank">
									<img src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="{{ project.imgAlt }}">
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
		{# CONTACT #}
		<section id="contact">
			<div class="contact-content">
				<h2 class="title-section">Contactez-moi</h2>
				{% include "components/contact_form.html.twig" %}
			</div>
		</section>
	</div>
{% endblock %}
