{{ form_start(contactForm, {'attr': {'id': 'contact_form'}}) }}
	<div class="row nom">
		{{ form_widget(contactForm.nom) }}
		{{ form_label(contactForm.nom) }}
	</div>
	<div class="row email">
		{{ form_widget(contactForm.email) }}
		{{ form_label(contactForm.email) }}
	</div>
	<div class="row objet">
		{{ form_widget(contactForm.objet) }}
		{{ form_label(contactForm.objet) }}
	</div>
	<div class="message">
		{{ form_widget(contactForm.message) }}
		{{ form_label(contactForm.message) }}
	</div>
	{{ form_widget(contactForm.recaptcha) }}
	{{ form_errors(contactForm.recaptcha) }}
	<div class="submit">
		{{ form_widget(contactForm.submit) }}
	</div>
{{ form_end(contactForm) }}